.Header {
    text-align: center;
    padding: 15px 10px; 
    margin: 0;

    h1 {
        margin-bottom: 5px; 
    }

    h2 {
        font-size: medium;
        color: rgb(100, 100, 100); 

    }
}

.light-mode {
    background-color: azure;
}

.dark-mode {
    background-color: rgb(29, 28, 28);
    color: white;
}